body {
    background: hsl(212, 45%, 89%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: hsl(212, 45%, 20%);
    font-size: 16px;
    line-height: 1.5;
}
h1{
    color: hsl(212, 45%, 15%);
    font-size: 24px;
    margin-bottom: 10px;
}
.main-card{
    background-color: hsl(212, 45%, 95%);
    
    padding: 100px;
    margin: auto 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.card_image{
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}